body {
	background-color:#a0a0a0;
	font-family:Tahoma, Trebuchet MS, sans-serif;
	font-size:0.9em;
	margin:0px;
	padding:0px;
}

a:link, a:visited {
	color: #c10202;
	text-decoration:none
}
a:hover {color:#c10202; text-decoration:none;}
a:active {color:red; text-decoration:none;}

caption {
	text-align:left;
}

div.flash {
	background-color:#f0f0f0;
	border:1px solid #c10202;
	font-size:0.8em;
	font-weight:bold;
	margin-bottom:1em;
	padding:0.3em;
}

h2 { font-size:1.4em; margin:0.3em; padding:0em }
h3 { font-size:1.2em; margin:0.3em; padding:0em }
h4 { margin:0.3em }
h5 {
	font-size:0.8em;
	font-weight:normal;
	margin-top:0.3em;
	margin-bottom:0.3em;
}
h6 {
	font-size:0.65em;
	font-weight:normal;
	margin-top:0.3em;
	margin-bottom:0.3em;
}

.breadcrumb {
	font-weight:bold;
	margin:0.5em;
}

.breadcrumb a { font-weight:normal; }

input, select {
	font-family:Tahoma, Trebuchet MS, sans-serif;
	vertical-align:middle;
}

input.button {
	font-size:0.8em;
}

input.medium { width:50%; }
input.short { width:25%; }

label {
	display:block;
	font-size:0.9em;
	font-style:italic;
	margin-bottom:0.2em;
}

div#wrap {
	background-color:white;
	border-left:1px solid #808080;
	border-right:1px solid #808080;
	margin:0 auto;
	padding:0px;
	width:94%;
}

div#content {
	padding:1em;
}

div#menu {
	background-color:#c0c0c0;
	border-top:1px solid #a0a0a0;
	border-bottom:1px solid #a0a0a0;
	padding:0.2em;
	padding-left:0.5em;
}

div#menu ul {
	font-weight:bold;
	margin:0px;
	padding:0px;
}

div#menu ul li {
	display:inline;
	margin-right:2em;
}

div#header {
	background-color:#404040;
	color:white;
	margin:0px;
	padding:0.2em;
}

div#header a {
	color:white;
}

div#footer {
	background-color:#404040;
	color:white;
	margin:0px;
	padding:0.5em;
	text-align:center;
}

ul.form {
	list-style-type:none;
	margin-left:0px;
	padding-left:0px;
}

ul.form li {
	margin-top:0.7em;
	margin-bottom:0.7em;
}

fieldset {
	border:1px solid #808080;
	margin-bottom:1em;
}

fieldset legend {
	font-weight:bold;
	margin-left:1em;
}

.dataTable {
	border:1px solid #b0b0b0;
	margin:0 auto;
	margin-top:10px; margin-bottom:10px;
	width:100%;
}

.dataTable td {
	border-top:1px dotted #b0b0b0;
	font-size:0.8em;
	padding:3px;
}

.dataTable th {
	background-color:#f0f0f0;
	padding:3px;
	text-align:left;
}
