<div id="footer">
	<ul>
    	<li><a href="http://www.library.unlv.edu/speccol/photographs/photos.html">Reproduction and Use Policies</a> |</li>
      	<li><a href="http://blogs.library.unlv.edu/digital/">Digitization Projects @ UNLV</a> |</li>
      	<li><a href="http://www.library.unlv.edu/giving/intro.html">Support Digital Collections</a> |</li>
      	<li><a href="/contact/">Contact Digital Collections</a></li>
  	</ul>
	<p>University Libraries, UNLV, 4505 Maryland Parkway Box 457001, Las Vegas, NV 89154-7001, (702) 895-2286</p>
    <p>&copy; 2007 University of Nevada-Las Vegas. All rights reserved.</p>
</div> <!-- end footer -->
