/* ISIS-specific CSS that overrides library CSS in certain places */

a:link, a:visited {
	color: #842020;
	text-decoration:none
}
a:hover {color:#c10202; text-decoration:none;}
a:active {color:red; text-decoration:none;}

em {
	font-style:normal;
	font-weight:bold;
}

fieldset {
	border:none;
	margin-bottom:0.5em;
	padding:0.5em;
}

fieldset ul {
	list-style-type:none;
	margin:0em;
	padding:0px;
	margin-left:0.5em;
	padding-left:0px;
}

form input.mapSearch {
	color:#842020;
	font-size:1.8em;
}

hr {
	border:none;
	border-top:1px solid #606060;
}

h4 {
	font-weight:normal;
}

img {
	border:none;
	margin:0px;
	padding:0px;
}

.title {
	color:#842020;
	font-size:2em;
}

#mainDiv {
	margin:0px;
	margin-left:262px;
	margin-right:1px;
	margin-bottom:0px;
	padding:0px;
	padding-top:4px;
}

.mainSubDiv, #svgMap {
	background-color:#a59b86;
	border:1px solid #b0b0b0;
}

.mainSubDiv {
	padding:10px;
}

td.colGroupDivider {
	background-color:#f0f0f0;
}

#svgMap {
	/* should always be square */
	border:1px solid #606060;
	height:458px;
	vertical-align:top;
	width:458px;
}

#svgPan { border:1px solid #606060; }

.navSubDiv {
	background-color:#a59b86;
	padding:8px;
}

.navHeader {
	color:#842020;
	font-size:1.4em;
}

#titleCollectionCol {
	text-align:right;
	width:40%
}

.warningText {
	color:rgb(150,0,0);
	text-align:center;
}

/******************************* results page *******************************/

#resultsMapDiv {
	margin-bottom:10px;
	margin-left:-30px;
	margin-top:150px;
	width:256px;
	position:absolute;
	visibility: hidden;
	z-index: 100;
}

.resultsStatusDiv {
	background-color:#cac0af;
	margin:0px;
	padding:4px 8px 4px 8px;
	width:100%;
}

#resultsListTable, #resultsGridTable {
	width:100%;
	margin-bottom:10px;
}

#resultsGridTable td {
	padding:0.9em;
}

#resultsListTable td {
	border-top:1px solid #b0b0b0;
	padding:0.5em 0.6em 0.5em 0.6em;
}

#resultsListTable th {
	font-size:0.9em;
	padding:0.2em;
}

#resultsListTable table, #resultsGridTable table {
	background-color:#e0e0e0;
	border-right:1px solid #b0b0b0;
	font-size:1.2em;
	padding:0.7em;
}

.resultsThumb {
	border: 1px solid #b0b0b0;
	padding:3px;
}


/************************** administrative interface ***************************/


#collections {
	max-width:300px;
}

.noteText {
	color:#606060;
	font-size:0.7em;
	margin:0px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:0.5em;
	text-align:center;
}
