#background {
	fill:#d5ccb9;
}

#countyLabels {
	font-family:Helvetica, Arial, sans-serif;
	font-weight:100;
	letter-spacing:1px;
	stroke:#303030;
	font-size:8px;
	text-rendering:optimize-legibility;
	text-transform:uppercase;
}

#countyBorders {
	fill:none;
	stroke:#303030;
	stroke-width:0.8px;
	stroke-miterlimit:3.85;
}

#stateBorders {
	fill:none;
	stroke:#303030;
	stroke-width:3px;
	stroke-miterlimit:3.85;
}

.cityCaption {
	font-family:Tahoma, Helvetica, Arial, sans-serif;
	font-size:17px;
	font-weight:bold;
	fill:black;
	stroke:white;
	stroke-width:0.6px;
	text-rendering:optimize-legibility;
}

.cityPoint {
	fill:#c00000;
	stroke:white;
	stroke-width:0.03px;
}

#lines {
	stroke:black;
	stroke-width:0.01px;
}

#outlines {
	fill-opacity:0.3; /* used for js fill-ins */
	fill:none;
	stroke:#802020;
	stroke-width:0.03px;
	stroke-opacity:0.5;
}

#iconoutlines1, #iconoutlines2, #iconoutlines3 {
	fill:#802020;
	fill-opacity:0.3;
	stroke:none;
}

#frame {
	cursor:move;
}

#frame, #iconframe1, #iconframe2, #iconframe3 {
	fill:#802020;
	fill-opacity:0.2;
	stroke:#802020;
	stroke-opacity:0.4;
	stroke-width:0.02px;
}

#resizer {
	cursor:se-resize;
	fill:#802020;
	opacity:1;
	stroke:none;
}

#pannedArea {
	cursor:move;
	fill:white;
	fill-opacity:0;
	stroke:#842020;
	stroke-width:0.05px;
}

#sortBorder {
	fill:none;
	stroke:#c0c0c0;
	stroke-width:0.1px;
}

#sortEdge { /* sort icon maps on the results page */
	stroke:#ff4040;
	stroke-width:0.2px;
}
