@charset "utf-8";
/* Digital Collections CSS Document */

/* =BASE DEFINITIONS ***************/
* { 
    margin: 0; 
    padding: 0;
	}
body {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 12px;
    line-height: 18px;
	padding: 8px 0 0 8px;
	}
p,
ul,
ol { 
	margin-bottom: 18px; 
	}
ul {
  	list-style-type: square;
  	margin-left: 2em;
	}
h1 { 
    line-height: 36px;
    margin-bottom: 18px; 
	}
h2 { 
    line-height: 18px; 
    margin-bottom: 18px;
	}
h3 { 
    font-size: 12px; 
    line-height: 18px; 
	}
.left { 
    float: left; 
    margin: 0 16px 16px 0; 
	}
.right { 
    float: right; 
    margin: 0 0 16px 16px; 
	}
.clear {
	clear: both;
	height: 1px;
	background-color: #FFFFFF;
	overflow: hidden;
	}

/* =CONTAINER *****************/
div#container {
	width: 757px;
	background-image: url(../images/bg_container.gif);
	background-repeat: repeat-y;
	margin: 5px 0 4px 0;
	position: relative;
	}

/* =HEADER **************/
div#header img {
	border: 0;
	}
	
/* =MENU *****************/
div#menu {
	background-color:#cac0af;
	float: left;
	width: 256px;
}
/* Digi Collections Header */
div#menu h1 {
	text-indent: -1000em;
	background-image: url(../images/header_digital_collections.gif);
	background-repeat: no-repeat;
	background-position: 15px 30px;
	width: 236px;
	height: 110px;
	overflow: hidden;
	}

/* Menu Paragraph */
div#menu p {
	padding: 0 30px 0 35px;
	background-image: url(../images/bg_intro.gif);
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	background-repeat: no-repeat;
	background-position: 15px 5px;
	font-size: 11px;
	margin-bottom: 45px;
	}

/* Menu List Styles */
div#menu ul {
	margin: 0 0 0 20px;
	list-style: none;
	}
div#menu ul li {
	background-image: url(../images/bullett_red.gif);
	background-repeat: no-repeat;
	background-position: 0 9px;
	padding: 3px 0 3px 15px;
	}
div#menu ul a {
	text-decoration: none;
	color: #000000;
	}
div#menu ul a:visited {
	color: #666666;
	}
div#menu ul a:hover {
	text-decoration: underline;
	}

div#menu ul .example {
	font-style: italic;
	font-size: 11px;
	}
div#menu ul li select.format {
	width: 170px;
	margin-right: 5px;
	}
div#menu ul li .search {
	width: 166px;
	margin-right: 5px;
	}
div#menu ul .gobutton {
	vertical-align: text-top;
	}

/* =FEATURE ****************/
div#feature {
	float: left;
	}
div#feature a {
	display: block;
	background-image: url(/dc_images/feature/ntsohp.jpg);
	background-repeat: no-repeat;
	text-indent: -1000em;
	width: 500px;
	height: 247px;
	}

/* =RECENT ***********/
div#recent {
	float: left;
	width: 500px;
	background-color: #b0a387;
	background-image: url(/dc_images/bg_recent.jpg);
	background-position: right bottom;
	background-repeat: no-repeat;
	}
div#recent h2 {
	color: #FFFFFF;
	font-weight: lighter;
	font-size: 15px;
	background-color: #81765e;
	background-image: url(../images/bullett_red.gif);
	background-repeat: no-repeat;
	background-position: 12px 12px;
	padding: 10px 0 10px 20px;
	}
div#recent ul {
	list-style: none;
	margin: 0;
	padding: 0;
	}
div#recent ul li {
	float: left;
	}
div#recent ul a {
	text-indent: -1000em;
	text-decoration: none;
	display: block;
	width: 203px;
	height: 88px;
	margin: 0 25px 20px 20px;
	}
div#recent ul a.showgirls {
	background-image: url(/dc_images/recent/showgirls.jpg);
	}
div#recent ul a.maps {
	background-image: url(/dc_images/recent/maps.jpg);
	}
div#recent ul a.water {
	background-image: url(/dc_images/recent/water.jpg);
	}
div#recent ul a.early {
	background-image: url(/dc_images/recent/early.jpg);
	}
	
/* =CONTENT ******************/
div#content {
	width: 490px;
	margin-left: 10px;
	padding-top: 30px;
	float: left;
	line-height: 14px;
	color: #666666;
	font-size: 11px;
	}
div#content h2 {
	color: #dd0000;
	background-image: url(templates/images/header_secondary.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	font-style: italic;
	font-size: 18px;
	padding-bottom: 10px;
	}
div#content h3 {
	font-weight: normal;
	font-size: 11px;
	line-height: 14px;
	margin-bottom: 5px;
	}
div#content h3 a, div#content ul a {
	color: #842020;
	text-decoration: none;
	font-weight: bold;
	}
div#content h3 a:hover, div#content ul a:hover {
	text-decoration: underline;
	}
div#content h3 a:visited, div#content ul a:visited {
	color: #BE2E2E;
	}
div#content img {
	float: left;
	margin-right: 10px;
	border: 3px solid #DDD;
	}
div#content div.collection {
	clear: both;
	margin-bottom: 20px;
	}
div#content div.collection p {
	margin-bottom: 0;
	}
div#content ul {
	background-image: url(templates/images/thumbs/bracket.gif);
	margin-left: 35px;
	padding-left: 70px;
	background-repeat: no-repeat;
	list-style: none;
	}
div#content ul li {
	margin: 0 0 16px 0;
	}
div#content ul li a {
	display: block;
	line-height: 44px;
	vertical-align: middle;
	padding-left: 54px;
	}
div#content ul li a.hoover {
	background-image: url(/dc_images/thumbs/early_hoover.jpg);
	background-repeat: no-repeat;
	}
div#content ul li a.nightclub {
	background-image: url(/dc_images/thumbs/early_nightclub.jpg);
	background-repeat: no-repeat;
	}
div#content ul li a.cottages {
	background-image: url(/dc_images/thumbs/early_cottages.jpg);
	background-repeat: no-repeat;
	}
div#content ul li a.depot {
	background-image: url(/dc_images/thumbs/early_depot.jpg);
	background-repeat: no-repeat;
	}
div#content ul li a.fremont {
	background-image: url(/dc_images/thumbs/early_fremont.jpg);
	background-repeat: no-repeat;
	}
	
/* =FOOTER **********/
div#footer {
	margin: 0;
	padding: 0 0 8px 0;
	background-color: #000000;
	color: #C5C5C5;
	text-align: center;
	width: 756px;
	}
div#footer p  {
	margin-bottom: 10px; 
	}
div#footer ul {
	background-color: #842020;
	margin: 0 0 10px 0;
	padding: 6px 0;
	list-style: none;
	text-align: center;
	color: #EC0012;
	}
div#footer ul li {
	display: inline;
	}
div#footer ul li a {
	color: #C5C5C5;
	text-decoration: none;
	}
div#footer ul li a:hover {
	text-decoration: underline;
	color: #FFFFFF;
	}
div#footer ul li a:visited {
	color: #D5D5D5;
	}

